/* src/pages/HomePage/HomePage.module.css */

.homePage {
  padding: 20px;
  background-color: transparent;
}

.homePage h1 {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.movieListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
